{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <!-- Header & Navigation -->
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <img src="{% static 'img/logo.png' %}" class="logo-icon" alt="Dota 2 Turbo Logo"/>
                    <span class="logo-text">Dota 2 Turbo</span>
                </div>
                <nav class="nav">
                    <a href="{% url 'leaderboard:leaderboard' %}" class="nav-link {% block leaderboard-active %} {% endblock %}">
                        Leaderboard
                    </a>
                    <a href="{% url 'hero:heroes' %}" class="nav-link {% block heroes-active %} {% endblock %}">Heroes</a>
                    <a href="{% url 'leaderboard:about' %}" class="nav-link {% block about-active %} {% endblock %}">About</a>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'player:player' request.user.steamid32 %}?group=matches" class="nav-link {% block statistics-active %} {% endblock %}">
                            {{request.user.personaname}}
                        </a>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'auth:logout' %}" class="nav-button">Log out</a>
                    {% else %}
                        <a href="{% url 'social:begin' 'steam' %}" class="nav-button">Auth via Steam</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>&copy; Dota 2 Turbo.</p>
        </div>
    </footer>
</body>
</html>